@font-face {
  font-family: Nunito;
  src: url(Nunito-SemiBoldItalic.ttf);
}
.topcenter {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.imagecenter {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background-color: #5e5e5e;
}
header {
	font-family: 'Nunito';font-size: 50px;
}
normaltext {
	font-family: 'Nunito';font-size: 20px;
}
	.button {
		background-color: #000000;
		color: #FFFFFF;
		padding: 10px;
		top: 10%;
		left: 50%;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin:10px
	}
	
	.small-btn {
		top: 10%;
		left: 50%;
		width: 50px;
		height: 25px;
	}
	
	.medium-btn {
		top: 10%;
		left: 50%;
		width: 70px;
		height: 30px;
	}
	
	.big-btn {
		top: 10%;
		left: 50%;
		width: 90px;
		height: 40px;
	}






































