@font-face {
  font-family: Nunito;
  src: url(Nunito-SemiBoldItalic.ttf);
}
.topcenter {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.imagecenter {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background-color: #5e5e5e;
}
header {
	font-family: 'Nunito';font-size: 50px;
}
normaltext {
	font-family: 'Nunito';font-size: 20px;
}






































